@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

// 1. Required core first
@import "base/vendors/bootstrap/functions";
@import "base/vendors/bootstrap/variables";
@import "base/vendors/bootstrap/maps";
@import "base/vendors/bootstrap/mixins";

// 2. Optional Bootstrap parts (utilities if customized)
@import "base/vendors/bootstrap/root";
@import "base/vendors/bootstrap/reboot";
@import "base/vendors/bootstrap/type";

// 3. Then rest of Bootstrap components (e.g., buttons, forms, etc.)
@import "base/vendors/bootstrap/bootstrap"; // If this is a custom bundle
@import "base/vendors/cropper/cropper.min.css"; // If this is a custom bundle

@import "base/variables";
@import "base/utils";
@import "base/typography";
@import "base/global";

@import "layout/dashboard";
@import "layout/main";
@import "layout/sidebar";
@import "layout/content";
@import "layout/footer";
@import "layout/slider";
@import "layout/tab";
@import "layout/accordion";

@import "components/header";
@import "components/input";
@import "components/buttons";
@import "components/card";
@import "components/stepper";
@import "components/actionbar";
@import "components/list-table";
@import "components/multiselect";
@import "components/chip";
@import "components/switch-button";
@import "components/modal";
@import "components/list-text-input";
@import "components/pill";
@import "components/searchbar";
@import "components/pagination";
@import "components/datepicker";
@import "components/daterange";
@import "components/product";
@import "components/richtext";
@import "components/blazor-grid-override";
@import "components/grid";
@import "components/toast";
@import "components/dropdown";
@import "components/quantity-selector";
@import "components/cart";

@import "pages/add-product";
@import "pages/product-details";
@import "pages/question-list";
@import "pages/add-question";
@import "pages/sites.scss";
@import "pages/intake-form";
@import "pages/site-dashboard";
@import "pages/order-details";
@import "pages/patient-details";
@import "pages/salesman-details.scss";
@import "pages/add-category";
// @import "pages/customer-information";
@import "pages/thank-you";
@import "pages/sales-person-payment";
@import "components/tooltip";