.photo-upload {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-top: 15px;

  &__thumbnail {
    display: flex;
    align-items: center;
    flex-direction: column;
    // width: 100%;
    border-radius: 20px;
    overflow: hidden;
    // padding: 20px;
    border: 1px dashed;
    background-color: $grey-2;
  }

  &__img {
    width: 345px;
    height: 345px;
    border-radius: 20px;

    &__small {
      width: 200px;
      height: 200px;
    }
  }

  &__alt {
    .photo-upload__thumbnail {
      padding: 20px;
    }
  }
}

.required-notes {
  margin-top: 70px;
}

.additional-photo {
  margin-top: 20px;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  padding: 0 40px;
  margin-top: 20px;
  width: 100%;

  &__thumbnail {
    display: inline-block;
    width: 124px;
    height: 124px;
    border-radius: 12px;
    padding: 0;
    border: 0;
    position: relative;

    &--img {
      width: 124px;
      height: 124px;
      border-radius: 12px;
    }

    &--btn {
      border: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background-color: $dark;

      position: absolute;
      right: -7px;
      top: -7px;

      &--alt {
          background-color: $delete;
          width: 24px;
          height: 24px;
          top: 7px;
          right: 0px;
      }

      &--delete{
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translate(-30%, -50%);
        background: transparent;
        border: 1px solid transparent;
      }

      i {
        font-size: 10px;
        color: $white;
        font-weight: 600;
      }
    }
  }

  &--left {
    justify-content: start;
    padding: 0;
    margin-top: 40px;
  }
}

.product-form {
  margin-top: 40px;
}

.dose-entry {

  gap: 10px;
  margin-bottom: 16px;

  button.oqtane-btn {
    margin-top: 10px;
  }
}

.add-sections {
  margin-top: 20px;

  &__pannel {
    background-color: $grey-2;
    border-radius: 20px;
    padding: 24px;
    margin: 10px 0;
    position: relative;
  }

  &__close-btn {
    position: absolute;
    border: 1px solid $dark;
    border-radius: 24px;
    background-color: $dark;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: -8px;
    right: -8px;
    box-shadow: 0 0 4px rgba(#b5b5b5, 0.15);

    i {
      font-size: 10px;
      font-weight: 600;
      color: $white;
    }
  }

  &__btn {
    margin: 40px 0px 20px 0px;
  }
}

.benefit-radios {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 24px;
}

@media all and (max-width: 1170px) {
  .photo-upload {
    &__img {
      width: 150px;
      height: 150px;
      border-radius: 10px;
    }

    &__thumbnail {
      width: 150px;
      height: 150px;
      border-radius: 10px;
    }
  }

  .required-notes {
    margin-top: 30px;
  }

  .dose-entry {
    button.oqtane-btn {
      margin-top: 0;
      padding: 5px !important;
    }
  }
}

@media all and (max-width: 992px) {
  .preview {
    gap: 15px;
    padding: 0 10px;

    &__thumbnail {
      width: 80px;
      height: 80px;
      border-radius: 8px;

      &--img {
        width: 80px;
        height: 80px;
        border-radius: 8px;
      }
    }
  }

  .product-form {
    .row {
      .col-md-6 {
        width: 100%;

        &:last-child {
          margin-top: 16px;
        }
      }
    }
  }

  .required-notes {
    margin-top: 15px;
  }

  .custom-input {
    &.mt-20 {
      margin-top: 10px !important;
    }
  }

  .add-sections {
    p {
      &.fs-24 {
        font-size: 20px !important;
      }
    }

    &__pannel {
      border-radius: 12px;
      padding: 15px;
    }
  }
}

@media all and (max-width: 768px) {
  .dose-entry {
    button {
      &.oqtane-btn {
        margin-top: 0;
        padding: 0 !important;
        font-size: 26px !important;
      }
    }
  }

  .add-sections {
    &__pannel {
      border-radius: 10px;
      padding: 10px;
    }
  }

  .preview {
    gap: 10px;
    padding: 0 5px;
    flex-wrap: wrap;
  }

  .list-input {
    &__label {
      top: 14px;
    }
  }
}