.order {
	padding: 20px 0px 20px 0px;

	&__info {
		display: flex;
		gap: 30px;
		margin-bottom: 20px;


	}

	&__table {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		&__info-text {
			width: 330px;

			p {
				text-wrap: nowrap;
			}
		}

		&--alt {
			display: flex;
			justify-content: center;
			align-items: center;

			.order__table__info-text {
				width: 170px;


				p {
					text-wrap: nowrap;
				}


				&:last-child {
					width: 100px;
				}
			}
		}

	}

	&__label {
		font-family: "poppins", sans-serif;
		font-size: $fs-18;
		font-weight: 600;
		color: #2D2D2D;
		display: flex;
		gap: 8px;
		flex-wrap: wrap;

		span {
			font-weight: 400;
		}
	}

	&__status {
		padding: 30px 26px;
		padding-bottom: 0;
	}

	&__track {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.tracker {
			position: absolute;
			top: -8px;
			left: 3px;
			width: 100%;

			&__single {
				height: 2px;
				width: 24.5% !important;
				background-color: $grey-3;
				display: inline-block;

				&.active {
					background: $primary;
				}
			}
		}
	}

	&__step {
		width: 20px;
		height: 20px;
		background-color: #E6D4FF;
		border-radius: 50%;
		position: relative;
		z-index: 2;

		&.active {
			border-color: $primary;
			background: $primary;
		}
	}

	&__step-label {
		font-size: 14px;
		font-weight: 500;
		display: block;
		position: absolute;
		top: -30px;
		left: 50%;
		transform: translateX(-50%);
		color: $grey-3;
		white-space: nowrap;

		&.active {
			color: #2D2D2D;
		}

		&--bottom {
			top: 30px;
			color: $primary;
			font-weight: 600;

			&:hover {
				color: $primary;
			}
		}
	}
}



@media all and (max-width: 1440px) {
	.order {
		&__table {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media all and (max-width: 1024px) {
	.order {
		&__table {
			grid-template-columns: repeat(2, 1fr);


		}
	}
}

@media all and (max-width: 992px) {
	.order {
		padding-top: 0;
		padding-bottom: 50px;

		&__table {

			grid-template-columns: repeat(2, 1fr);


			&__info-text {
				width: 330px;

				p {
					font-size: 14px;
				}

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					width: 100%;
					flex-shrink: 1;
				}

				&:nth-child(4) {
					width: 40%;
				}
			}
		}

		&__status {
			padding: 20px 40px;
		}

		&__step-label {
			font-size: 14px;
		}
	}

	.order__track .tracker__single {
		width: 24% !important;
	}
}

@media all and (max-width: 768px) {
	.oqtane-simple-card-wrapper {
		padding: 0px 5px 5px 5px;
	}

	.order {
		&__table {
			grid-template-columns: repeat(1, 1fr);

			&__info-text {

				p {
					font-size: 14px;
				}
			}
		}

		&__label {
			font-size: 12px !important;
		}

		&__status {
			padding: 20px 10px;
			padding-bottom: 0;
		}

		&__track {
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;

			.tracker {
				position: absolute;
				top: 10px;
				left: 10px;
				width: 2px;
				height: calc(100% - 20px);
				display: flex;
				flex-direction: column;

				&__single {
					height: 25% !important;
					width: 2px !important;
					background-color: $grey-3;

					&.active {
						background: $primary;
					}
				}
			}
		}

		&__step {
			width: 20px;
			height: 20px;
			position: relative;
			top: 0;
		}

		&__step-label {
			font-size: 14px;
			top: 50%;
			left: 40px;
			transform: translateY(-50%);
			white-space: normal;
			text-align: left;
			width: max-content;

			&--bottom {
				top: auto;
				bottom: -25px;
				left: 40px;
				transform: none;
				font-size: 12px;
			}
		}




		&__info {
			flex-direction: column;
			gap: 15px;
		}
	}

}

@media all and (max-width: 576px) {
	// .order {

	//
	// &__step {
	// 	width: 12px;
	// 	height: 12px;
	// }

	// &__step-label {
	// 	font-size: 10px;
	// 	top: -26px;

	// 	&--bottom {
	// 		font-size: 9px;
	// 		top: 26px;
	// 	}
	// }

	// &__status {
	// 	padding: 10px 0;
	// 	padding-bottom: 0;
	// }

	// &__track {
	// 	min-width: 400px;
	// }
	.order {
		&__status {
			padding: 15px 5px;
			padding-bottom: 0;
		}

		&__step {
			width: 16px;
			height: 16px;
		}

		&__step-label {
			font-size: 13px;
			left: 35px;

			&--bottom {
				font-size: 11px;
				left: 35px;
			}
		}


		//
		&__table {
			&__info-text {
				p {
					font-size: 12px;
				}
			}
		}
	}
}

@media all and (max-width: 375px) {
	.order {
		&__track {
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;

			.tracker {

				left: 7px !important;

			}
		}
	}
}



@media only screen and (max-width: 1024px) {
	.order__track .tracker__single {
		width: 24% !important;
	}
}