.order {
	padding: 20px 20px 50px;

	&__info {
		display: flex;
		gap: 30px;
		margin-bottom: 20px;
	}

	&__table {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		&__info-text {
			width: 330px;
		}
		&--alt{
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 100px;
			.order__table__info-text{
				width: unset;
			}
		}
		
	}

	&__label {
		font-family: "poppins", sans-serif;
		font-size: $fs-18;
		font-weight: 600;
		color: #2D2D2D;
		display: flex;
		gap: 8px;
		flex-wrap: wrap;

		span {
			font-weight: 400;
		}
	}

	&__status {
		padding: 30px 26px;
		padding-bottom: 0;
	}

	&__track {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.tracker {
			position: absolute;
			top: -8px;
			left: 3px;
			width: 100%;

			&__single {
				height: 2px;
				width: 24.5% !important;
				background-color: $grey-3;
				display: inline-block;

				&.active {
					background: $primary;
				}
			}
		}
	}

	&__step {
		width: 20px;
		height: 20px;
		background-color: #E6D4FF;
		border-radius: 50%;
		position: relative;
		z-index: 2;

		&.active {
			border-color: $primary;
			background: $primary;
		}
	}

	&__step-label {
		font-size: 14px;
		font-weight: 500;
		display: block;
		position: absolute;
		top: -30px;
		left: 50%;
		transform: translateX(-50%);
		color: $grey-3;
		white-space: nowrap;

		&.active {
			color: #2D2D2D;
		}

		&--bottom {
			top: 30px;
			color: $primary;
			font-weight: 600;

			&:hover {
				color: $primary;
			}
		}
	}
}

@media all and (max-width: 992px) {
	.order {
		padding-top: 0;
		padding-bottom: 50px;

		&__table {

			grid-template-columns: repeat(2, 1fr);


			&__info-text {
				width: 330px;

				p {
					font-size: 14px;
				}

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3) {
					width: 100%;
					flex-shrink: 1;
				}

				&:nth-child(4) {
					width: 40%;
				}
			}
		}

		&__status {
			padding: 20px 40px;
		}

		&__step-label {
			font-size: 14px;
		}
	}

	.order__track .tracker__single {
		width: 24% !important;
	}
}

@media all and (max-width: 768px) {
	.order {
		&__table {
			grid-template-columns: repeat(1, 1fr);

			&__info-text {

				p {
					font-size: 14px;
				}
			}
		}

		&__step {
			top: 2px;
			width: 15px;
			height: 15px;
		}

		&__step-label {
			font-size: 12px;
		}

		&__status {
			padding: 10px 20px;
		}
	}

}

@media all and (max-width: 576px) {
	.order {
		&__table {
			&__info-text {
				p {
					font-size: 12px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.order__track .tracker__single {
		width: 23.5% !important;
	}
}