.product-details {
	&__left {
		padding-right: 20px;
	}
}

.swiper-wrapper {
	gap: 15px;
}

.promo-code-container {
	padding: 16px 81px 16px 81px;

	h3 {
		font-size: 30px;
	}
}

@media all and (max-width: 992px) {

	// h3 {
	// 	font-size: 18px !important;
	// }

	// .promo-code-container {
	// 	padding: 10px 15px;
	// 	font-size: 14px;

	// 	h3 {
	// 		font-size: 14px;
	// 	}
	// }

}