.card-icons {
    position: absolute;
    top: 40%;
    right: 18%;
    transform: translate(50%, -15%);
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;

    img {
        height: 20px;
        border-radius: 5px;
    }

    @media screen and (max-width: 992px) {
        right: 31%;
        top: 15%;
    }

    @media screen and (max-width: 768px) {
        right: 20%;
        top: 15%;

         img {
            height: 15px;
            border-radius: 5px;
        }
    }
    @media screen and (max-width: 570px) {
        right: 30%;
        top: 15%;

         img {
            height: 12px;
            border-radius: 5px;
        }
    }

    
}

.custom-input__control--with-card-icons {
    padding-right: 140px;

    @media screen and (max-width: 992px) {
        padding-right: 10px;
    }
}