.oqtane-accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__panel {
    &.panel {
      box-shadow: none;
      background-color: $grey-2;
      border-radius: 20px !important;
      overflow: hidden;
    }

    &--light {
      &.panel {
        background-color: $white;
        border: 1px solid $border-color;
      }
    }
  }

  &__label {
    font-size: $fs-12;
    line-height: $lh-100;
    color: $grey-3;
    margin-bottom: 0;
  }

  &__text {
    line-height: $lh-150;
    margin-bottom: 15px;
    margin-top: 4px;
  }

  &__header {
    position: relative;
    padding: 24px 20px 20px 20px;
    display: flex;
    gap: 18px;
    align-items: start;
    justify-content: stretch;
    transition: all 0.3s ease;

    &-action {
      margin-left: auto;
      display: flex;
      gap: 12px;
    }
  }

  // &__header:has(+ .in) {
  //   border-bottom: 1px solid $border-color;

  //   .oqtane-accordion__hide {
  //     transition: all 0.2s ease;
  //     display: none;
  //   }

  //   .oqtane-accordion__toggle-btn {
  //     transform: rotateZ(180deg);
  //   }
  // }

  &__toggle-btn {
    &[aria-expanded="true"] {
      transform: rotateZ(180deg);
    }
  }

  &__info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 6px 16px;
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba($shadow-color, 0.15);

    &-text {
      font-size: $fs-15;
      line-height: $lh-100;
    }

    &-badge {
      min-width: 22px;
      height: 22px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 6px;
      background-color: $primary;
      border-radius: 20px;
      font-size: $fs-15;
      line-height: $lh-100;
      color: $white;
    }
  }

  &__check {
    margin-bottom: 0;
  }

  &__body {
    padding: 20px 20px 24px 20px;
  }

  &__cross-btn {
    width: 24px;
    height: 24px;
    background-color: $dark;
    border: 1px solid $dark;
    border-radius: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(#b5b5b5, 0.15);

    i {
      font-size: 10px;
      font-weight: 600;
      color: $white;
    }
  }
}

@media all and (max-width: 992px) {
  .oqtane-accordion {
    &__header {
      padding: 15px 15px 0 15px;
    }

    &__info-text {
      font-size: 13px;
      line-height: 1;
    }

    &__info {
      padding: 4px 8px;

      &-badge {
        width: 20px;
        height: 20px;
        padding: 3px;
        font-size: 12px;
      }
    }

    &__cross-btn {
      width: 20px;
      height: 20px;

      i {
        font-size: 10px;
      }
    }

    &__text {
      font-size: 14px;
    }


  }
}

@media all and (max-width: 576px) {
  .oqtane-accordion {
    &__header {
      padding: 15px;
      flex-direction: column;
      gap: 0;
    }

    &__header-action {
      flex-direction: column;
      align-items: start;
      margin-left: 0;
      gap: 5px;
    }
  }

}