.dashboard {
  background-color: $white;
  width: 100%;
  height: 100vh;
}

.modal-button{
  width: 275px;
  height: 68px;
}

.custom-input--with-icon{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
}
