.dashboard {
  background-color: $white;
  width: 100%;
  height: 100vh;
}

.modal-button {
  width: 275px;
  height: 68px;
}

.custom-input--with-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media all and (max-width: 768px) {
  .modal-button {
    width: 150px;
    height: 40px;
  }
}


.svg-theme {
  --theme-hue: 218;
  --no-data-bg: hsl(var(--theme-hue), 65%, 79%);
  --no-data-shadow: hsl(var(--theme-hue), 55%, 78%);
  --no-data-line: hsl(var(--theme-hue), 75%, 44%);
  --no-data-fill: hsl(var(--theme-hue), 60%, 67%);
  --no-data-accent: hsl(var(--theme-hue), 73%, 29%);
}

.no-data {
  &__bg {
    background-color: white !important;
  }
}