.footer {
  width: 100%;
  height: 50px;
  padding: 20px 24px;
  display: flex;
  align-items: center;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;

    p {
      margin-bottom: 0;
    }
  }

  &__links {
    display: flex;
    gap: 30px;
    align-items: center;

    a {
      color: $grey-3;
      font-size: $fs-13;
    }
  }
}

@media all and (max-width: 768px) {
  .footer {
    height: unset;

    &__content {
      flex-direction: column;
      align-items: center;

      p {
        margin-top: 10px;
        text-align: center;
      }
    }

    &__links {
      flex-direction: column;
      gap: 10px;
    }
  }
}