.main {
  background-color: rgba($grey-1, .6);
  border: 2px solid rgba($grey-1, .6);
  height: calc(100% - 150px);
  border-radius: 20px;
  margin: 0 24px 0 16px;

  display: flex;
  align-items: stretch;

  &--centered {
    justify-content: center;
  }

  .LoginPanel {
    float: unset;
    margin: 50px auto;
    padding: 0;
  }
}


@media all and (max-width: 768px) {
  .main {
    margin: 0;
    height: calc(100% - 120px);
  }
}