.actionbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	&--fixed {
		position: fixed;
		width: calc(100% - 277px);
		background-color: #f6f6f9;
		z-index: 999;
		left: 250px;
		top: 102px;
		padding: 20px;
		border-top-right-radius: 20px;

		&+.dnn-card {
			margin-top: 64px;
		}
	}

	&__actions {
		display: flex;
		gap: 12px;
		align-items: center;
		justify-content: end;
	}

	&__inactive {
		color: $grey-3;
		position: relative;
		margin-right: 7px;

		&::after {
			content: "/";
			position: absolute;
			color: $grey-3;
		}
	}
}

@media all and (max-width: 992px) {
	.actionbar {
		flex-direction: column;
		align-items: start;

		&__actions {
			margin-top: 10px;
		}
	}
}

@media all and (max-width: 768px) {
	.actionbar {
		flex-direction: column;
		align-items: start;

		&__actions {
			flex-direction: column;
			gap: 7px;
			align-items: start;
		}
	}
}