.list-table {
	.table {
		// text-align: center;
		thead {
			tr {
				th {
					color: $black;
					font-size: $fs-16;
					padding-left: 11px !important;

					&:first-child {
					}

					&:last-child {
						padding-right: 40px !important;
					}
				}
			}
		}

		tbody {
			tr {
				&:last-child {
					border-bottom: 0px !important;
				}

				td {
					color: $black;
					padding-left: 10px !important;

					&:first-child {
						padding-left: 15px !important;
						// padding-right: 5px !important;
					}

					&:last-child {
						padding-right: 15px !important;
					}

					.theme-btn__accent {
						text-decoration: none;
					}
				}
			}
		}
	}

	.quickgrid[theme="default"] .col-title {
		padding: 0;
		&:hover,
		&:focus,
		&:active {
			background-color: unset;
			outline: none;
		}
	}
}

.paginator {
	border-top: 0 !important;
	padding: 20px 10px !important;
	gap: 15px !important;
}

.paginator nav {
	.go-previous,
	.go-next {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.6687 2.32544C18.1104 2.75935 18.1104 3.46287 17.6687 3.89679L9.6853 11.7381C9.57963 11.8419 9.49401 11.9261 9.42113 12C9.49401 12.0739 9.57963 12.1581 9.6853 12.2619L17.6687 20.1032C18.1104 20.5371 18.1104 21.2406 17.6687 21.6746C17.2269 22.1085 16.5106 22.1085 16.0689 21.6746L8.08549 13.8332C8.07331 13.8213 8.06106 13.8092 8.04875 13.7972C7.8299 13.5824 7.59325 13.3501 7.42042 13.1276C7.21795 12.867 7 12.494 7 12C7 11.506 7.21795 11.133 7.42042 10.8724C7.59325 10.6499 7.82989 10.4176 8.04874 10.2028C8.06105 10.1908 8.0733 10.1787 8.08549 10.1668L16.0689 2.32544C16.5106 1.89152 17.2269 1.89152 17.6687 2.32544Z' fill='%23444444'/%3E%3C/svg%3E");
		background-size: 24px 24px;
	}
	.go-last,
	.go-first {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.85938 4C2.38616 4.00008 2.00212 4.38325 2.00195 4.85645V18.5713C2.00208 19.0445 2.38614 19.4277 2.85938 19.4277C3.33268 19.4277 3.71667 19.0446 3.7168 18.5713V4.85645C3.71663 4.3832 3.33266 4 2.85938 4ZM12.6914 6.63574C12.4108 6.25475 11.8753 6.17285 11.4941 6.45313H11.4912C11.4906 6.4536 11.4903 6.45531 11.4893 6.45605C11.4868 6.45794 11.483 6.46153 11.4785 6.46484C11.4693 6.47169 11.4556 6.48137 11.4385 6.49414C11.4036 6.52012 11.3521 6.55806 11.2881 6.60645C11.1601 6.70314 10.9778 6.84254 10.7598 7.0127C10.3241 7.35273 9.73951 7.82111 9.15332 8.33008C8.57131 8.83543 7.96727 9.39817 7.50195 9.9248C7.27017 10.1871 7.05475 10.4615 6.89258 10.7305C6.7576 10.9544 6.60517 11.2651 6.5791 11.6133C6.57485 11.6479 6.57129 11.683 6.57129 11.7188C6.57129 11.7559 6.57549 11.7922 6.58008 11.8281C6.60877 12.1713 6.75918 12.4779 6.89258 12.6992C7.05473 12.9681 7.27026 13.2426 7.50195 13.5049C7.9673 14.0315 8.57132 14.5943 9.15332 15.0996C9.73972 15.6087 10.325 16.0769 10.7607 16.417C10.9787 16.5871 11.1601 16.7266 11.2881 16.8232C11.3521 16.8716 11.4036 16.9096 11.4385 16.9355C11.4555 16.9482 11.4693 16.958 11.4785 16.9648C11.483 16.9682 11.4868 16.9718 11.4893 16.9736C11.4901 16.9743 11.4907 16.9751 11.4912 16.9756H11.4941C11.8753 17.2561 12.4107 17.175 12.6914 16.7939C12.9719 16.4129 12.8905 15.8765 12.5098 15.5957L12.5068 15.5938L12.4629 15.5605C12.4309 15.5367 12.383 15.501 12.3223 15.4551C12.2004 15.363 12.0245 15.2293 11.8145 15.0654C11.3932 14.7367 10.8344 14.2875 10.2783 13.8047C9.80386 13.3927 9.34674 12.9658 8.97949 12.5762H21.1426C21.6159 12.5762 22 12.1921 22 11.7188C22 11.2454 21.616 10.8613 21.1426 10.8613H8.97168C9.34027 10.4693 9.80044 10.0389 10.2783 9.62402C10.8344 9.14123 11.3932 8.69299 11.8145 8.36426C12.0245 8.2003 12.2004 8.06668 12.3223 7.97461C12.3831 7.92868 12.4308 7.89304 12.4629 7.86914L12.5068 7.83496L12.5098 7.83398C12.8906 7.5533 12.9717 7.0168 12.6914 6.63574Z' fill='black'/%3E%3C/svg%3E%0A");
		background-size: 24px 24px;
	}
}

.quickgrid.table {
	.col-sort-desc .sort-indicator,
	.col-sort-asc .sort-indicator {
		background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.20451 7.70267C2.64385 7.26333 3.35616 7.26333 3.7955 7.70267L11.7348 15.642C11.8399 15.7471 11.9251 15.8322 12 15.9047C12.0749 15.8322 12.1601 15.7471 12.2652 15.642L20.2045 7.70267C20.6438 7.26333 21.3562 7.26333 21.7955 7.70267C22.2348 8.14201 22.2348 8.85432 21.7955 9.29366L13.8562 17.233C13.844 17.2451 13.8319 17.2573 13.8196 17.2695C13.6022 17.4872 13.367 17.7225 13.1417 17.8944C12.8778 18.0958 12.5002 18.3125 12 18.3125C11.4998 18.3125 11.1222 18.0958 10.8583 17.8944C10.633 17.7225 10.3978 17.4872 10.1804 17.2695C10.1681 17.2573 10.156 17.2451 10.1438 17.233L2.20451 9.29366C1.76517 8.85432 1.76517 8.14201 2.20451 7.70267Z' fill='%23444444'/%3E%3C/svg%3E");
		background-size: 18px 18px;
	}
}
