.oqtane-card {
	background-color: $white;
	border-radius: 20px;
	margin-bottom: 24px;


	&__header {
		padding: 20px;
		font-size: 24px;
		color: $grey-3 !important;
		line-height: 1;
		border-bottom: 1px solid $border-color;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		position: relative;

		&--tabs {
			padding: 0 20px;
		}

		h3 {
			margin-bottom: 0;
			margin-top: 0;
			font-weight: $fw-400 !important;
			color: $grey-3 !important;
			line-height: $lh-100;
			font-size: $fs-24;
		}

		.range {
			border: 1px solid $grey-3;
		}

		.multi-select {
			padding: 0;
			gap: 0;
		}

		.oqtane-search__input-alt__icon {
			font-size: 16px;
			left: 15px;
		}
	}

	&__actions {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 16px;

		@media all and (max-width: 768px) {
			width: 100%;
		}
	}

	&__action-prev,
	&__action-next {
		color: $dark;

		i {
			color: $dark;
		}

		&:disabled {
			color: $grey-3;
			cursor: not-allowed;

			i {
				color: $grey-3;
			}
		}
	}

	&__body {
		padding: 20px;

		&__small-container {
			max-width: 500px;
			margin: 0 auto;
		}
	}

	.condition {
		display: flex;
		align-items: center;

		&__label {
			width: 200px;
			font-size: 22px;
			font-weight: 600;

			&-position-top {
				margin-top: -65px;
			}
		}
	}
}

.badge {
	&__card {
		background-color: $gray-normal;
		padding: 20px;
		border-radius: 12px;

		p {
			font-size: $fs-20;
			font-weight: 600;
			line-height: 1.5;
			color: $primary-light;
			text-transform: uppercase;
			margin-bottom: 0;
			text-align: center;
		}

		@media all and (max-width: 768px) {
			padding: 10px;
			border-radius: 8px;

			p {
				font-size: $fs-16;
			}

		}
	}
}

.list-card {
	overflow: hidden;
	margin-bottom: 20px;

	&__table {
		margin: -20px;

		td {
			&.multiple-action {
				margin-top: 10px;
				display: flex;
				align-items: center;
				gap: 5px;
			}
		}
	}
}

.oqtane-simple-card {
	background-color: #FFFFFF;
	margin-top: 25px;
	border: 1px solid $border-color;
	border-radius: 20px;
	padding: 20px;
}

.oqtane-simple-card-wrapper {
	display: flex;
	flex-direction: column;

	background-color: #F0F1F5;
	margin-top: 25px;
	border: 1px solid $border-color;
	border-radius: 20px;
	padding: 0px 20px 20px 20px;

	@media all and (max-width: 992px) {
		padding: 10px;
	}
}

.no-data {
	min-height: calc(100vh - 360px);
	display: flex;
	justify-content: center;
	align-items: center;

	&__content {
		text-align: center;
	}

	&__desc {
		color: $grey-3;
		margin: 15px 0;
	}
}

.quiz-card {
	background-color: #f6f7f9;
	border-radius: 20px;
	padding: 24px 20px;
	margin-bottom: 20px;

	&__quiz {
		margin-bottom: 16px;
	}

	&__ans p:last-child {
		margin-bottom: 0 !important;
	}

	&__label {
		font-size: 12px;
		line-height: 1;
		color: #999fb9;
		margin-bottom: 0;
	}

	&__text {
		line-height: 1.5;
		margin-bottom: 15px;
		margin-top: 4px;
	}
}

.sec-card {
	background-color: #f6f7f9;
	border-radius: 20px;
	margin-bottom: 20px;

	&:last-of-type {
		margin-bottom: 0;
	}

	&__header {
		padding: 16px 20px;
		border-bottom: 1px solid $grey-3;
		position: relative;

		.oqtane__close-btn {
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			width: 22px;
			height: 22px;
		}
	}

	&__title {
		margin: 0;
		font-size: $fs-18;
		line-height: $lh-150;
		font-weight: $fw-400;
	}

	&__body {
		padding: 16px 20px 20px 20px;
	}

	&__section {
		padding: 16px 20px;
		// border-bottom: 1px solid $grey-3;

		&:last-of-type {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}

	&__footer {
		padding: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.subscribe {
	&__card {
		background-color: #F6F7F9;
		border-radius: 20px;

		&--field {
			label {
				background-color: #C8E3FF;
				border: 0;
			}
		}
	}

}

.bullet-point {
	&__add {
		a {
			text-decoration: underline;
			margin-left: 20px;
			color: $primary-light;
		}
	}

}

@media all and (max-width: 992px) {
	.oqtane-card {
		&__body {
			padding: 10px;
			margin-top: 10px;

			h2 {
				font-size: 24px;
			}
		}

		&__header {
			font-size: 22px;
			// padding: 10px;
			flex-direction: column;
			align-items: start;

			&--with-icon {
				flex-direction: row;
			}

			h3 {
				font-size: 20px;
			}
		}

		&__actions {
			flex-direction: column;
			align-items: start;
			gap: 10px;
			margin-top: 15px;

			&--with-icon {
				margin-top: 0;
				flex-direction: row;
			}
		}

		.condition {
			&__label {
				font-size: 16px;
			}
		}
	}

	.list-card {
		&__table {
			padding: 0 10px;
		}
	}

	.sec-card {
		&__header {
			padding: 15px;
		}

		&__section {
			padding: 15px;
		}

		&__body {
			padding: 15px;
		}
	}

	.list-card__table {
		margin: 0;
	}

	.oqtane-simple-card {
		margin-top: 15px;
		border-radius: 10px;
		padding: 10px;
	}

	// .table-responsive {
	//   border-top: 0;
	// }
}

@media all and (max-width: 768px) {
	.sec-card {
		&__header {
			padding: 10px;
		}

		&__section {
			padding: 10px;
		}

		&__body {
			padding: 10px;
		}
	}

	.oqtane-card {
		.condition {
			&__label {
				font-size: 14px;
			}
		}
	}
}