	.cart-popup {
		width: 80px;
		height: 80px;
		display: inline-block;
		background-color: #ffffff;
		border: 1px solid #EEEEF0;
		border-radius: 8px;
		box-shadow: 0px 0px 24px 0px #35007F29;
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 170px;
		right: 15px;
		z-index: 20;

		@media all and (max-width: 992px) {
			top: 120px;
			width: 60px;
			height: 60px;
			right: 5px;
		}


		&-icon {
			color: $primary;
			position: relative;
			font-size: 30px;
			top: 5px;

			@media all and (max-width: 992px) {
				font-size: 24px;
				top: 3px;
			}
		}

		&__badge {
			position: absolute;
			z-index: 1;
			width: 30px;
			height: 16px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			font-size: $fs-13;
			font-weight: 600;
			background-color: #ED3131;
			color: white;
			border-radius: 10px;
			top: -6px;
			right: -12px;
			transition: 0.3s;

			@media all and (max-width: 992px) {
				font-size: 10px;
				top: -7px;
				width: 25px;
			}
		}

	}

	@supports (-webkit-touch-callout: none) {
		.cart-popup__badge {
			width: 18px;
			font-size: 10px;
			height: 16px;
			top: -8px;
			right: -5px;
		}
	}

	@supports (-webkit-overflow-scrolling: touch) {
		.cart-popup__badge {
			width: 26px;
			font-size: 10px;
			height: 16px;
			top: -8px;
			right: -5px;
		}
	}