.range {
	position: relative;
	background-color: #ffffff;
	border-radius: 42px;
	cursor: pointer;

	&__input {
		display: block;
		width: 270px;
		border-radius: 42px;
		height: 42px;
		border: none;
		outline: none;
		box-shadow: none;
		font-size: 14px;
		line-height: 14px;
		font-weight: 500;
		line-height: 1.5;
		padding: 10px 30px 10px 20px;
		color: $dark;
		position: relative;
		z-index: 1;
		background-color: transparent;
		cursor: pointer;

		&-alt {
			width: 130px;
			padding-right: 10px;
		}
	}

	// &::after {
	// 	content: "\e91b";
	// 	font-family: "icomoon";
	// 	font-size: 20px;
	// 	position: absolute;
	// 	z-index: 0;
	// 	top: 5px;
	// 	right: 16px;
	// }
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
	background-color: $primary !important;
}

@media all and (max-width: 992px) {
	.range {
		&__input {
			width: 220px;
			height: 35px;
			font-size: 14px;
			line-height: 1;
			padding: 10px 15px;
		}

		&::after {
			font-size: 16px;
			top: 5px;
			right: 10px;
		}
	}
}

@media all and (max-width: 768px) {
	.range {
		&__input {
			width: 200px;
			border-radius: 30px;
			height: 30px;
			font-size: 12px;
			line-height: 12px;
			padding: 10px 15px 10px 15px;
		}

		&::after {
			font-size: 14px;
			top: 4px;
			right: 16px;
		}
	}
}
