.range {
	position: relative;
	background-color: #ffffff;
	border-radius: 42px;


	&__input {
		display: block;
		width: 270px;
		border-radius: 42px;
		height: 42px;
		border: none;
		outline: none;
		box-shadow: none;
		font-size: 14px;
		line-height: 14px;
		font-weight: 500;
		line-height: 1.5;
		padding: 10px 30px 10px 20px;
		color: $dark;
		position: relative;
		z-index: 1;
		background-color: transparent;
		cursor: pointer;




		&-alt {
			width: 130px;
			padding-right: 10px;
		}


	}



	&::after {
		content: "\e91b";
		font-family: "icomoon";
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		font-size: 18px;
		color: $dark;

	}
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
	// background-color: $primary !important;
	color: #ffffff !important;
}


.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    color: #999 !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    /*    background-color: #214e9a !important;*/
    color: #ffffff !important;
}


@media all and (max-width: 992px) {
	.range {
		&__input {
			width: 100%;
			height: 42px;
			font-size: 14px;
			line-height: 1;
			padding: 10px 15px;
		}
	}
}

@media all and (max-width: 768px) {
	.range {
		&__input {
			width: 100%;
			border-radius: 30px;
			font-size: 12px;

		}
	}
}