.dropdown {
  &-toggle {
    &::after {
      border: 0 !important;
    }
  }

  &-menu {
    &__items {
      min-width: 90px;
      z-index: 10;
      height: unset;

      button {
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.5;
        border-bottom: 1px solid rgba($grey-1, 0.5);
        transition: .3s;
        font-size: 16px;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &__input {
    width: 100%;
    border: 0;
    outline: 0;
    box-shadow: none;
    background: transparent;
  }
}

.dropstart .dropdown-toggle::before {
  border: 0 !important;
}


.autocomplete-dropdown {
  max-height: 300px;
  overflow-y: auto;
  display: none;
  box-shadow: 0 6px 10px 0px #cbcbcb;
  width: 100%;
  margin-left: 0;

  &.show {
    display: block;
  }

  .dropdown-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #212529;
  }

  &.dropdown-menu {
    left: -10px;
    top: 60px;
  }
}