.oqtane-search {
  display: block;
  width: 100%;

  position: relative;
  border-radius: 56px;
  position: relative;

  &__input {
    display: block;
    max-width: 300px;
    background-color: $white;
    height: 42px;
    border-radius: 42px;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: $fs-16 !important;
    font-weight: $fw-500;
    line-height: $lh-150;
    padding: 10px 20px 10px 48px;
    color: $grey-3;

    &-text {
      width: 80px;
      height: 53px;
      border: 1px solid $border-color;
      border-radius: 26.5px;
      text-align: left;
      padding: 10px;

      &:focus {
        border-color: $border-color;
        outline: 0;
        box-shadow: none;
      }
    }

    &-alt {
      max-width: 560px;
      width: 546px;
      height: 67px;
      border: 1px solid #E2E2E2;
      border-radius: 33.5px;
      padding-left: 45px;
      margin: 0 auto;
      position: relative;

      @media screen and (max-width: 992px) {
        max-width: 560px !important;
        width: 546px;
        height: 67px !important;
      }

      @media screen and (max-width: 992px) {
        max-width: 560px !important;
        width: 546px;
        height: 67px !important;
      }

      &__icon {
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        font-size: 20px;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
      }
    }

    &-alt2 {
      border: 1px solid $grey-3;
      width: 100%;
      min-width: 360px;
    }

    &--grey {
      background-color: $grey-1-60;
    }

    &--md {
      height: 56px;
      border-radius: 56px;
      font-size: $fs-18 !important;
      min-width: 360px;
    }
  }

  &__icon {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 20px;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }
}

.max-width {
  max-width: 546px;
}

.suggestions-list {
  max-height: 220px;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 6px 0;

  &--multi {
    li:not(:last-child) {
      border-bottom: 1px solid rgba(#F0F1F5, 0.6);
    }
  }
}

.suggestions-list li {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  display: flex;
  align-items: center;
}

.suggestions-list li:hover {
  background: #f5f5f5
}

.dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  z-index: 1200;
  margin-top: 6px;
  display: none;
}

.dropdown-wrapper.show {
  display: block;
}

.dropdown-footer {
  padding: 10px;
  border-top: 1px solid #eee;
  display: flex;
  gap: 10px;
  background: #fff;
}

.btn-sm-custom {
  padding: 4px 12px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: underline;
}

.btn-cancel {
  color: $dark;
}

.btn-add {
  color: $dark;
}

.multi-select {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  padding: 6px;
  border: 1px solid transparent;
}

.selected-chips {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

.chip {
  // background: #f1f1f1;
  // border-radius: 16px;
  // padding: 4px 8px;
  display: inline-flex;
  align-items: center;
  font-size: 13px
}

.chip .remove {
  margin-left: 8px;
  cursor: pointer;
  font-weight: 600
}

.oqtane-search__input-alt.with-suggestions {
  /* border: none;
			outline: none; */
  min-width: 120px;
  flex: 1
}

.oqtane-search.position-relative .multi-select-wrapper {
  position: relative
}

/* Checkbox styling */
.custom-checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.gap-12 {
  gap: 12px;
}

.oqtane-filter {
  display: block;
  width: 250px;
  position: relative;
  height: 42px;
  max-width: 100%;
  border-radius: 56px;
  position: relative;

  &__input {
    background-color: transparent !important;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: 1px solid $border-color;
    border-radius: 42px;
    padding: 14px 16px;
    color: $dark;
    font-size: $fs-16;
    font-weight: $fw-500;
    line-height: 0.9;

    i {
      font-size: 20px;
    }
  }

  .dropdown-menu {
    width: 100%;
    padding: 0 30px;
    border: 1px solid $grey-3;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);

    li:not(:last-child) {
      border-bottom: 1px solid rgba(#f0f1f599, 0.6);
    }

    li a {
      padding: 15px 0;
      font-size: $fs-16;
      font-weight: $fw-400;
      color: $dark;
      line-height: 0.9;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.file-input {
  input[type='file'] {
    display: none;
  }

  &__btn {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 0;
    background-color: $grey-2;
    color: $grey-3;
    border-radius: 20px;
    border: 1px dashed $primary;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

    i {
      font-size: 80px;
    }

    &:hover {
      background-color: rgba($grey-2, 0.5);
    }
  }
}

.dropzone {
  input[type='file'] {
    display: none;
  }

  &__area {
    display: block;
    width: 100%;
    height: 220px;
    padding: 0;
    background-color: $grey-2;
    color: $grey-3;
    border-radius: 20px;
    border: 1px dashed $primary;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-align: center;

    &__alt {
      height: 450px;
    }

    i {
      font-size: 80px;
    }

    &:hover {
      background-color: rgba($grey-2, 0.5);
    }
  }

  &__icon {
    height: 135px;
  }
}

//Basic Input
.basic-input {
  &__field {
    padding: 27px 30px;
    width: 100%;
    font-size: 18px;
    border-radius: 40px;
    background-color: $white;
    box-shadow: none;
    outline: none;
    border: 1px solid $grey-3;
  }
}

//Input Panel Area
.input-panel {
  &__block {
    padding: 20px;
    background-color: $grey-2;
    border: 1px dashed $primary;
    border-radius: 20px;

    &--alt {
      height: 150px;
      display: flex !important;
      align-items: center;
    }
  }
}

.custom-input {
  display: block;
  width: 100%;

  &__inner {
    display: block;
    height: 68px;
    border: 1px solid $grey-3;
    padding: 12px 30px;
    border-radius: 40px;
    position: relative;
    background-color: $white;
    margin-bottom: 0;

    &--textarea {
      border-radius: 40px;
      height: 150px;
    }

    &--alt {
      height: 42px;
    }

    &-number {

      /* Chrome, Edge, Safari */
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }

    }
  }

  &__control {
    display: inline-block;
    width: calc(100% - 60px);
    height: 26px;
    font-size: $fs-18;
    font-weight: $fw-400;
    border: 0;
    outline: 0;
    padding: 4px 0;
    position: absolute;
    bottom: 12px;

    &--textarea {
      height: 112px;
      resize: none;
    }
  }

  &__multiselect {
    position: relative;

    .dnn-multiselect__icon {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%);

    }
  }

  &__control:focus~&__label,
  &__control:not(:placeholder-shown)~&__label {
    top: 10px;
    font-size: $fs-12;
  }

  &__label {
    font-size: $fs-18;
    line-height: $lh-100;
    color: $grey-3;
    font-weight: $fw-400;
    position: absolute;
    top: 24px;
    transition: all 0.25s ease-in-out;
  }

  &__suffix {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    font-size: 20px;
    font-weight: 400;
    color: $grey-3;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__select {
    background-color: transparent;
    appearance: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 15px;
    top: 7px;
    border-radius: 40px;
    padding: 15px 181px 15px 16px;
    z-index: 10;

    &--alt {
      padding: 15px 50px 15px 16px;
    }
  }

  &__icon {
    font-weight: 600;
    color: $dark;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;

    * {
      cursor: not-allowed;
    }
  }

  &--centered &__inner {
    display: flex;
    align-items: center;
  }

  &--centered &__select {
    padding: 0 30px;
    padding-right: 60px;
  }

  &--centered &__control {
    bottom: 22px;
  }

  &--filter {
    height: 40px;
    width: 230px;

    .custom-input__select {
      padding: 5px 30px 5px 16px;
      font-size: 16px;
      color: $dark;
    }

    .custom-input__suffix {
      top: 19px;
      right: 15px;
    }
  }

  &__error {
    display: inline-block;
    font-size: $fs-14;
    color: $danger;
    font-weight: $fw-400;
    margin: 0;
    margin-left: 20px;
  }
}

.custom-check {
  display: flex;
  align-items: center;
  gap: 14px;

  &__label {
    font-size: $fs-18;
    line-height: $lh-28;
    font-weight: $fw-400;
    color: $grey-3;
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
  }

  &__input {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;

    input[type='checkbox'] {
      display: none;

      &+span {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.1928 2.35085e-07H10.3072C12.4979 -1.33548e-05 14.2186 -2.39611e-05 15.562 0.180594C16.9386 0.365681 18.0309 0.752715 18.8891 1.61091C19.7473 2.46911 20.1343 3.56137 20.3194 4.93802C20.5 6.28144 20.5 8.00212 20.5 10.1928V10.3072C20.5 12.4979 20.5 14.2186 20.3194 15.562C20.1343 16.9386 19.7473 18.0309 18.8891 18.8891C18.0309 19.7473 16.9386 20.1343 15.562 20.3194C14.2186 20.5 12.4979 20.5 10.3072 20.5H10.1928C8.00212 20.5 6.28144 20.5 4.93802 20.3194C3.56137 20.1343 2.46911 19.7473 1.61091 18.8891C0.752715 18.0309 0.365681 16.9386 0.180594 15.562C-2.39611e-05 14.2186 -1.33548e-05 12.4979 2.35085e-07 10.3072V10.1928C-1.33548e-05 8.00212 -2.39611e-05 6.28144 0.180594 4.93802C0.365681 3.56137 0.752715 2.46911 1.61091 1.61091C2.46911 0.752715 3.56137 0.365681 4.93802 0.180594C6.28144 -2.39611e-05 8.00212 -1.33548e-05 10.1928 2.35085e-07ZM5.1379 1.66722C3.92757 1.82994 3.20462 2.13853 2.67157 2.67157C2.13853 3.20462 1.82994 3.92757 1.66722 5.1379C1.50159 6.36979 1.5 7.98963 1.5 10.25C1.5 12.5104 1.50159 14.1302 1.66722 15.3621C1.82994 16.5724 2.13853 17.2954 2.67157 17.8284C3.20462 18.3615 3.92757 18.6701 5.1379 18.8328C6.36979 18.9984 7.98963 19 10.25 19C12.5104 19 14.1302 18.9984 15.3621 18.8328C16.5724 18.6701 17.2954 18.3615 17.8284 17.8284C18.3615 17.2954 18.6701 16.5724 18.8328 15.3621C18.9984 14.1302 19 12.5104 19 10.25C19 7.98963 18.9984 6.36979 18.8328 5.1379C18.6701 3.92757 18.3615 3.20462 17.8284 2.67157C17.2954 2.13853 16.5724 1.82994 15.3621 1.66722C14.1302 1.50159 12.5104 1.5 10.25 1.5C7.98963 1.5 6.36979 1.50159 5.1379 1.66722Z' fill='%23275DAD'/%3E%3C/svg%3E%0A");
        transition: all 0.3s ease;

        &.black-icon {
          background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32'%3E%3Cpath d='M15.924 2.333h0.153c2.921 0 5.215-0 7.006 0.241 1.835 0.247 3.292 0.763 4.436 1.907s1.66 2.601 1.907 4.436c0.241 1.791 0.241 4.085 0.241 7.006v0.153c0 2.921 0 5.215-0.241 7.006-0.247 1.835-0.763 3.292-1.907 4.436s-2.601 1.66-4.436 1.907c-1.791 0.241-4.085 0.241-7.006 0.241h-0.153c-2.921 0-5.215 0-7.006-0.241-1.836-0.247-3.292-0.763-4.436-1.907s-1.66-2.601-1.907-4.436c-0.241-1.791-0.241-4.085-0.241-7.006v-0.153c0-2.921-0-5.215 0.241-7.006 0.247-1.836 0.763-3.292 1.907-4.436s2.601-1.66 4.436-1.907c1.791-0.241 4.085-0.241 7.006-0.241zM9.184 4.556c-1.614 0.217-2.578 0.628-3.288 1.339s-1.122 1.675-1.339 3.288c-0.221 1.643-0.223 3.802-0.223 6.816s0.002 5.174 0.223 6.816c0.217 1.614 0.628 2.578 1.339 3.288s1.675 1.122 3.288 1.339c1.643 0.221 3.802 0.223 6.816 0.223s5.174-0.002 6.816-0.223c1.614-0.217 2.578-0.628 3.288-1.339s1.122-1.675 1.339-3.288c0.221-1.643 0.223-3.802 0.223-6.816s-0.002-5.174-0.223-6.816c-0.217-1.614-0.628-2.578-1.339-3.288s-1.675-1.122-3.288-1.339c-1.643-0.221-3.802-0.223-6.816-0.223s-5.174 0.002-6.816 0.223z'%3E%3C/path%3E%3C/svg%3E");
        }
      }

      &:checked+span {
        background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.50718 1.50718C1.19209e-07 3.01436 0 5.44012 0 10.2917C0 15.1432 1.19209e-07 17.569 1.50718 19.0762C3.01436 20.5834 5.44012 20.5834 10.2917 20.5834C15.1432 20.5834 17.569 20.5834 19.0762 19.0762C20.5834 17.569 20.5834 15.1432 20.5834 10.2917C20.5834 5.44012 20.5834 3.01436 19.0762 1.50718C17.569 1.19209e-07 15.1432 0 10.2917 0C5.44012 0 3.01436 1.19209e-07 1.50718 1.50718ZM14.9557 6.90848C15.2417 6.60886 15.2307 6.13411 14.9311 5.84811C14.6315 5.5621 14.1567 5.57314 13.8707 5.87277L7.89746 12.1305L6.27252 10.5055C5.97962 10.2126 5.50475 10.2126 5.21185 10.5055C4.91896 10.7984 4.91896 11.2733 5.21185 11.5662L7.3796 13.7339C7.52239 13.8767 7.71673 13.9559 7.91865 13.9535C8.12058 13.9512 8.31306 13.8675 8.45246 13.7214L14.9557 6.90848Z' fill='%23275DAD'/%3E%3C/svg%3E%0A");

        &.black-icon {
          background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 32 32'%3E%3Cpath d='M15.924 2.333h0.153c2.921 0 5.215-0 7.006 0.241 1.835 0.247 3.292 0.763 4.436 1.907s1.66 2.601 1.907 4.436c0.241 1.791 0.241 4.085 0.241 7.006v0.153c0 2.921 0 5.215-0.241 7.006-0.247 1.835-0.763 3.292-1.907 4.436s-2.601 1.66-4.436 1.907c-1.791 0.241-4.085 0.241-7.006 0.241h-0.153c-2.921 0-5.215 0-7.006-0.241-1.836-0.247-3.292-0.763-4.436-1.907s-1.66-2.601-1.907-4.436c-0.241-1.791-0.241-4.085-0.241-7.006v-0.153c0-2.921-0-5.215 0.241-7.006 0.247-1.836 0.763-3.292 1.907-4.436s2.601-1.66 4.436-1.907c1.791-0.241 4.085-0.241 7.006-0.241zM9.184 4.556c-1.614 0.217-2.578 0.628-3.288 1.339s-1.122 1.675-1.339 3.288c-0.221 1.643-0.223 3.802-0.223 6.816s0.002 5.174 0.223 6.816c0.217 1.614 0.628 2.578 1.339 3.288s1.675 1.122 3.288 1.339c1.643 0.221 3.802 0.223 6.816 0.223s5.174-0.002 6.816-0.223c1.614-0.217 2.578-0.628 3.288-1.339s1.122-1.675 1.339-3.288c0.221-1.643 0.223-3.802 0.223-6.816s-0.002-5.174-0.223-6.816c-0.217-1.614-0.628-2.578-1.339-3.288s-1.675-1.122-3.288-1.339c-1.643-0.221-3.802-0.223-6.816-0.223s-5.174 0.002-6.816 0.223z'%3E%3C/path%3E%3Cpath d='M23.421 10.225c0.349 0.32 0.373 0.862 0.053 1.211l-9.429 10.286c-0.158 0.172-0.38 0.273-0.613 0.278s-0.459-0.085-0.625-0.251l-4.286-4.286c-0.335-0.335-0.335-0.877 0-1.212s0.877-0.335 1.212 0l3.653 3.653 8.824-9.626c0.32-0.349 0.862-0.373 1.211-0.053z'%3E%3C/path%3E%3C/svg%3E");
        }
      }
    }

    span {
      display: block;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }
}

.custom-radio {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  &__label {
    font-size: $fs-18;
    line-height: $lh-28;
    font-weight: $fw-400;
    color: $dark;
    margin: 0;
    cursor: pointer;
  }

  &__input {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;

    input[type='radio'] {
      display: none;

      &+span {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16667 18.3333C4.11191 18.3333 0 14.2214 0 9.16667C0 4.11191 4.11191 0 9.16667 0C14.2214 0 18.3333 4.11191 18.3333 9.16667C18.3333 14.2214 14.2214 18.3333 9.16667 18.3333ZM9.16667 1.30952C4.83214 1.30952 1.30952 4.83214 1.30952 9.16667C1.30952 13.5012 4.83214 17.0238 9.16667 17.0238C13.5012 17.0238 17.0238 13.5012 17.0238 9.16667C17.0238 4.83214 13.5012 1.30952 9.16667 1.30952Z' fill='%23275DAD'/%3E%3C/svg%3E%0A");
        transition: all 0.3s ease;
      }

      &:checked+span {
        background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16667 18.3333C4.11191 18.3333 0 14.2214 0 9.16667C0 4.11191 4.11191 0 9.16667 0C14.2214 0 18.3333 4.11191 18.3333 9.16667C18.3333 14.2214 14.2214 18.3333 9.16667 18.3333ZM9.16667 1.30952C4.83214 1.30952 1.30952 4.83214 1.30952 9.16667C1.30952 13.5012 4.83214 17.0238 9.16667 17.0238C13.5012 17.0238 17.0238 13.5012 17.0238 9.16667C17.0238 4.83214 13.5012 1.30952 9.16667 1.30952Z' fill='%23275DAD'/%3E%3Cpath d='M9.16467 14.4028C12.0576 14.4028 14.4028 12.0576 14.4028 9.16467C14.4028 6.27175 12.0576 3.92658 9.16467 3.92658C6.27175 3.92658 3.92658 6.27175 3.92658 9.16467C3.92658 12.0576 6.27175 14.4028 9.16467 14.4028Z' fill='%23275DAD'/%3E%3C/svg%3E%0A");
      }
    }

    span {
      display: block;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }
}

.radio-group {
  // padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__label {
    font-size: $fs-18;
    line-height: $lh-100;
    color: $grey-3;
    margin-bottom: 0;
  }

  &__inputs {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 22px;
  }
}

.benefit-radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input[type='radio'] {
    display: none;
  }

  &__icon {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #f0f1f599;
    border: 2px dashed transparent;
    transition: all 0.3s ease;

    i {
      width: 48px;
      height: 48px;
      color: #444;
      font-size: 48px;
      transition: color 0.3s ease;
    }
  }

  input[type='radio']:checked+&__icon {
    border: 2px dashed $primary;

    i {
      color: $primary;
    }
  }
}

.input-image {
  &--wrapper {
    width: 400px;
  }
}

.textarea {
  &__wrapper {
    width: 100%;
    position: relative;
  }

  &__label {
    position: absolute;
    transition: all 0.3s ease;
    pointer-events: none;
    background: white;
    padding: 0 4px;
    font-size: 18px;
    line-height: 1;
    color: #999fb9;
    font-weight: 400;
    position: absolute;
    top: 24px;
    left: 24px;
    transition: all 0.25s ease-in-out;
  }

  &__field {
    width: 100%;
    padding: 30px 30px 12px;
    font-size: 16px;
    resize: vertical;
    border: 1px solid #ccc;
    outline: none;
    background: transparent;
    border-radius: 40px;
    height: 150px;
  }

  // 👇 Correct way to target sibling label
  &__field:focus+.textarea__label,
  &__field:not(:placeholder-shown)+.textarea__label {
    top: 10px;
    left: 24px;
    font-size: 12px;
  }
}

@media all and (max-width: 1170px) {
  .custom-input {
    &__inner {
      // height: 60px;
      padding: 10px 20px;
      border-radius: 30px;
    }

    &__label {
      font-size: 16px;
      top: 20px;
    }

    &--filter {
      width: 200px;
    }

    &__suffix {

      width: 16px;
      height: 16px;
      font-size: 16px;
      right: 15px;
      top: 50%;
    }

    &__control {
      // bottom: 5px;
      font-size: 16px;
    }

    &__select {
      // padding: 5px 40px 0px 22px;
    }
  }

  .oqtane-search {

    &__icon {
      width: 20px;
      height: 20px;
      font-size: 14px;
      left: 10px;
    }
  }

  .file-input {
    &__btn {
      width: 150px;
      height: 150px;
      border-radius: 10px;
    }
  }
}

@media all and (max-width: 992px) {
  .oqtane-search {
    &__input {
      max-width: 200px;
      border-radius: 30px;
      font-size: 14px !important;
      padding: 10px 15px 10px 40px;
    }
  }

  .custom-input {
    &__label {
      font-size: 16px;
      top: 50%;
      transform: translateY(-50%);
    }

    // &__control {
    //   height: 26px;
    //   font-size: 16px;
    //   padding: 8px 0;
    //   bottom: 5px;
    // }

    &__inner {

      padding: 5px 20px;
      border-radius: 30px;
    }

    &--filter {
      .custom-input {
        &__suffix {
          top: 50%;
          right: 15px;
        }
      }
    }

    &__control {
      font-size: 14px;
    }

    // &__select {
    //   padding: 5px 30px 0px 16px !important;
    // }
  }


  .custom-input__control:focus~.custom-input__label,
  .custom-input__control:not(:placeholder-shown)~.custom-input__label {
    top: 15px;
    font-size: 12px;
  }

  .radio-group {
    padding: 0;
    align-items: start;
  }

  .input-panel {
    &__title {
      &.fs-22 {
        font-size: 18px !important;
      }
    }

    &.mt-50 {
      margin-top: 20px !important;
    }

    &__block {
      padding: 10px;
      border-radius: 10px;
    }
  }
}

@media all and (max-width: 768px) {


  .oqtane-search {
    &__input {
      max-width: 200px;
      height: 40px;
      border-radius: 30px;
      font-size: 14px !important;
      padding: 10px 15px 10px 35px;
    }
  }

  .custom-input {
    &--filter {
      width: 170px;
      height: 30px;

      .custom-input {
        &__select {
          padding: 5px;
          font-size: 14px;
        }


      }
    }

    &__inner {
      padding: 5px 15px;
    }

    &__icon {
      font-size: 16px;
    }



  }

  .dropzone {
    &__area {
      height: 150px;
    }

    &__content {
      p {
        &.fs-22 {
          font-size: 18px !important;
        }

        &.fs-18 {
          font-size: 14px !important;
        }
      }
    }
  }

  .input-panel {
    &__block {
      padding: 10px;
      border-radius: 10px;

      >div {
        flex-direction: column;
        align-items: start;
      }
    }

    &__title {
      &.fs-22 {
        font-size: 16px !important;
      }
    }
  }

  .radio-group {
    padding: 0;
    align-items: start;
  }

  .custom-radio {
    &__label {
      font-size: 16px;
      line-height: 1;
    }
  }

  .custom-check {
    &__label {
      font-size: 16px;
      line-height: 1;
      text-wrap: wrap;
    }
  }

  .custom-check__input input[type=checkbox]+span {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.1928 2.35085e-07H10.3072C12.4979 -1.33548e-05 14.2186 -2.39611e-05 15.562 0.180594C16.9386 0.365681 18.0309 0.752715 18.8891 1.61091C19.7473 2.46911 20.1343 3.56137 20.3194 4.93802C20.5 6.28144 20.5 8.00212 20.5 10.1928V10.3072C20.5 12.4979 20.5 14.2186 20.3194 15.562C20.1343 16.9386 19.7473 18.0309 18.8891 18.8891C18.0309 19.7473 16.9386 20.1343 15.562 20.3194C14.2186 20.5 12.4979 20.5 10.3072 20.5H10.1928C8.00212 20.5 6.28144 20.5 4.93802 20.3194C3.56137 20.1343 2.46911 19.7473 1.61091 18.8891C0.752715 18.0309 0.365681 16.9386 0.180594 15.562C-2.39611e-05 14.2186 -1.33548e-05 12.4979 2.35085e-07 10.3072V10.1928C-1.33548e-05 8.00212 -2.39611e-05 6.28144 0.180594 4.93802C0.365681 3.56137 0.752715 2.46911 1.61091 1.61091C2.46911 0.752715 3.56137 0.365681 4.93802 0.180594C6.28144 -2.39611e-05 8.00212 -1.33548e-05 10.1928 2.35085e-07ZM5.1379 1.66722C3.92757 1.82994 3.20462 2.13853 2.67157 2.67157C2.13853 3.20462 1.82994 3.92757 1.66722 5.1379C1.50159 6.36979 1.5 7.98963 1.5 10.25C1.5 12.5104 1.50159 14.1302 1.66722 15.3621C1.82994 16.5724 2.13853 17.2954 2.67157 17.8284C3.20462 18.3615 3.92757 18.6701 5.1379 18.8328C6.36979 18.9984 7.98963 19 10.25 19C12.5104 19 14.1302 18.9984 15.3621 18.8328C16.5724 18.6701 17.2954 18.3615 17.8284 17.8284C18.3615 17.2954 18.6701 16.5724 18.8328 15.3621C18.9984 14.1302 19 12.5104 19 10.25C19 7.98963 18.9984 6.36979 18.8328 5.1379C18.6701 3.92757 18.3615 3.20462 17.8284 2.67157C17.2954 2.13853 16.5724 1.82994 15.3621 1.66722C14.1302 1.50159 12.5104 1.5 10.25 1.5C7.98963 1.5 6.36979 1.50159 5.1379 1.66722Z' fill='%23275DAD'/%3E%3C/svg%3E%0A");
    transition: all 0.3s ease;
  }

  .custom-check__input input[type=checkbox]:checked+span {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.50718 1.50718C1.19209e-07 3.01436 0 5.44012 0 10.2917C0 15.1432 1.19209e-07 17.569 1.50718 19.0762C3.01436 20.5834 5.44012 20.5834 10.2917 20.5834C15.1432 20.5834 17.569 20.5834 19.0762 19.0762C20.5834 17.569 20.5834 15.1432 20.5834 10.2917C20.5834 5.44012 20.5834 3.01436 19.0762 1.50718C17.569 1.19209e-07 15.1432 0 10.2917 0C5.44012 0 3.01436 1.19209e-07 1.50718 1.50718ZM14.9557 6.90848C15.2417 6.60886 15.2307 6.13411 14.9311 5.84811C14.6315 5.5621 14.1567 5.57314 13.8707 5.87277L7.89746 12.1305L6.27252 10.5055C5.97962 10.2126 5.50475 10.2126 5.21185 10.5055C4.91896 10.7984 4.91896 11.2733 5.21185 11.5662L7.3796 13.7339C7.52239 13.8767 7.71673 13.9559 7.91865 13.9535C8.12058 13.9512 8.31306 13.8675 8.45246 13.7214L14.9557 6.90848Z' fill='%23275DAD'/%3E%3C/svg%3E%0A");
  }
}

@media all and (max-width: 576px) {
  .input-panel {
    &__title.fs-22 {
      font-size: 14px !important;
    }

    &::placeholder {
      font-size: 14px !important;
    }
  }

  .basic-input {
    &__field {
      padding: 10px 15px;
      border-radius: 20px;

      &::placeholder {
        font-size: 14px !important;
      }
    }
  }

  .custom-radio {
    &__label {
      font-size: 14px;
      line-height: 1;
    }
  }
}