.oqtane-pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  margin-bottom: 20px;

  &__text {
    font-size: $fs-14;
    color: $grey-3;
    line-height: $lh-100;
    margin: 0;
  }

  &__goto,
  &__row-count,
  &__control {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
  }

  &__input {
    display: inline-block;
    height: 38px;
    width: 62px;
    outline: 0;
    border: 2px solid $border-color;
    box-shadow: none;
    padding: 8px 10px;
    font-size: $fs-14;
    line-height: $lh-150;
    color: $dark;
    border-radius: 38px;
    text-align: center;
  }

  &__select-container {
    display: inline-block;
    height: 48px;
    width: 90px;
    background-color: $white;
    border: 2px solid $border-color;
    border-radius: 48px;
    position: relative;
  }

  &__select {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    border-radius: 48px;
    font-size: $fs-14;
    line-height: $lh-150;
    padding: 8px 16px;
    appearance: none;
    position: absolute;
    z-index: 9;
  }

  &__select-icon {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    font-size: 20px;
    font-weight: 400;
    color: $dark;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: $white;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    cursor: pointer;

    i {
      font-size: $fs-20;
    }

    &--disabled {
      background-color: $grey-1-60;
      pointer-events: none;
      cursor: not-allowed;

      i {
        color: $grey-3;
      }
    }
  }
}


@media all and (max-width: 992px) {
  .oqtane-pagination {
    &__btn {

      width: 35px;
      height: 35px;
      border-radius: 35px;

      i {
        font-size: 16px;
      }
    }

    &__select-container {
      height: 35px;
      width: 70px;
      border-radius: 35px;
    }

    &__select-icon {
      width: 18px;
      height: 18px;
      font-size: 16px;
      right: 8px;
    }

    &__select {
      line-height: 1;
    }

    &__input {
      height: 32px;
      font-size: 14px;
    }

  }
}

@media all and (max-width: 768px) {
  .oqtane-pagination {
    margin-bottom: 10px;

    &__btn {

      width: 35px;
      height: 35px;
      border-radius: 35px;

      i {
        font-size: 16px;
      }
    }

    &__select-container {
      height: 35px;
      width: 70px;
      border-radius: 35px;
    }

    &__select-icon {
      width: 18px;
      height: 18px;
      font-size: 16px;
      right: 8px;
    }

    &__select {
      line-height: 1;
    }

    &__input {
      height: 32px;
      font-size: 14px;
    }

  }
}

.oqtane-pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  margin-bottom: 20px;

  &__text {
    font-size: $fs-14;
    color: $grey-3;
    line-height: $lh-100;
    margin: 0;
  }

  &__goto,
  &__row-count,
  &__control {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
  }

  &__input {
    display: inline-block;
    height: 38px;
    width: 62px;
    outline: 0;
    border: 2px solid $border-color;
    box-shadow: none;
    padding: 8px 10px;
    font-size: $fs-14;
    line-height: $lh-150;
    color: $dark;
    border-radius: 38px;
    text-align: center;
  }

  &__select-container {
    display: inline-block;
    height: 48px;
    width: 90px;
    background-color: $white;
    border: 2px solid $border-color;
    border-radius: 48px;
    position: relative;
  }

  &__select {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    border-radius: 48px;
    font-size: $fs-14;
    line-height: $lh-150;
    padding: 8px 16px;
    appearance: none;
    position: absolute;
    z-index: 9;
  }

  &__select-icon {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    font-size: 20px;
    font-weight: 400;
    color: $dark;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: $white;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    cursor: pointer;

    i {
      font-size: $fs-20;
    }

    &--disabled {
      background-color: $grey-1-60;
      pointer-events: none;
      cursor: not-allowed;

      i {
        color: $grey-3;
      }
    }
  }
}


@media all and (max-width: 992px) {
  .oqtane-pagination {
    &__btn {

      width: 35px;
      height: 35px;
      border-radius: 35px;

      i {
        font-size: 16px;
      }
    }

    &__select-container {
      height: 35px;
      width: 70px;
      border-radius: 35px;
    }

    &__select-icon {
      width: 18px;
      height: 18px;
      font-size: 16px;
      right: 8px;
    }

    &__select {
      line-height: 1;
    }

    &__input {
      height: 32px;
      font-size: 14px;
    }

  }
}

@media all and (max-width: 768px) {
  .oqtane-pagination {
    margin-bottom: 10px;

    &__btn {

      width: 35px;
      height: 35px;
      border-radius: 35px;

      i {
        font-size: 16px;
      }
    }

    &__select-container {
      height: 35px;
      width: 70px;
      border-radius: 35px;
    }

    &__select-icon {
      width: 18px;
      height: 18px;
      font-size: 16px;
      right: 8px;
    }

    &__select {
      line-height: 1;
    }

    &__input {
      height: 32px;
      font-size: 14px;
    }

  }
}

@media all and (max-width: 576px) {
  .oqtane-pagination {
    gap: 5px;
    flex-wrap: wrap;
  }
}