.status-pill {
  padding: 5px 12px;
  border-radius: 30px;
  font-size: $fs-14;
  font-weight: 500;
  line-height: $lh-100;
  white-space: nowrap;

  &--sm {
    padding: 2px 8px;
    font-size: 10px;
  }

  &--default {
    background-color: $blue-light;
  }

  &--success {
    background-color: $success;
  }

  &--danger {
    background-color: $danger-light;
  }

  &--warning {
    background-color: $secondary-light;
  }

  &--primary {
    background-color: $blue-light;
    color: $primary-light;
  }
}

.tooltip {
  &-inner {
    max-width: 230px !important;
  }
}

.status {
  &-tooltip {
    background-color: $dark;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &--list {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: $fs-14;
        text-align: left;

        i {
          color: $blue-3;
          font-size: $fs-20;
        }
      }
    }
  }
}

.tooltip-inner {
  padding: 12px;
  background-color: $dark;
}

.tooltip.top .tooltip-arrow {
  border-top-color: $dark;
}