.site-products {
	display: flex;
	flex-wrap: wrap;
	gap: 25px 50px;

	.site-product {
		&__item {
			max-width: 50%;
			min-width: 528px;
			flex-grow: 1;
			display: flex;
			padding: 20px;
			background-color: white;
			box-shadow: 6.12px 0px 30.6px 0px #2121210a;
			border-radius: 18px;
		}

		&__img {
			img {
				width: 200px;
				height: 220px;
				border-radius: 15px;
			}
		}

		&__content {
			padding: 25px 20px;
		}

		&__title {
			font-weight: 600;
		}

		&__type {
			color: #949494;
		}

		&__price {
			font-size: 22px;
			font-weight: 600;
			color: #7c7c7c;
		}
	}
}

.selected-products {


	.select-product {
		&__item {
			padding: 0;
			gap: 20px;
			border-bottom: 1px solid $border-color;

			&:last-child {
				border-bottom: 0;
			}
		}

		&__img {
			img {
				width: 120px;
				height: 120px;
				border-radius: 15px;
			}
		}

		&__content {
			display: flex;
			align-items: start;
			gap: 30px;
			justify-content: space-between;
			width: 100%;
		}

		&__title {
			font-weight: 600;
		}

		&__type {
			color: #949494;
		}

		&__price {
			font-size: 22px;
			font-weight: 600;
			color: #ED254E;
		}
	}
}


@media all and (max-width: 1170px) {
	.selected-products {
		.select-product__content {
			flex-direction: column;
		}

		.select-product__item {
			flex-direction: column;
			align-items: center;
		}
	}

	.product-action__btn {
		flex-direction: row !important;

	}
}

@media all and (max-width: 768px) {
	.selected-products {
		.select-product__content {
			flex-direction: column;
		}

		.select-product__item {
			flex-direction: column;
			align-items: center;
		}
	}

}