/* Toast component styles */
/*
.toast {
	position: fixed;
	z-index: 9;
	bottom: 52px;
	left: 50px;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 15px 23px;
	max-width: 500px;
	background-color: white;
	border-left: 11px solid;
	border-radius: 12px 20px 20px 12px;
	box-shadow: 0px 4px 16px 0px #0000001f;
	&__content {
		padding-right: 20px;
		&__status {
			font-size: 16px;
			font-weight: 500;
			color: #1d242d;
			margin-bottom: 0;
		}
		&__description {
			font-size: 12px;
			color: $grey-3;
			margin-bottom: 0;
		}
	}
	&__action {
		button {
			background-color: transparent;
			border: 0;
			outline: 0;
			box-shadow: none;
			i {
				font-size: 25px;
				color: #1d242d;
				vertical-align: middle;
			}
		}
	}

	&-success {
		border-color: #0f7173;
		&__status-icon i {
			font-size: 40px;
			vertical-align: middle;
			color: #0f7173;
		}
	}
	&-error {
		border-color: #ed254e;
		&__status-icon i {
			font-size: 40px;
			vertical-align: middle;
			color: #ed254e;
		}
	}
	&-info {
		border-color: $primary-light;
		&__status-icon {
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: $primary-light;
			border-radius: 50%;
			flex-shrink: 0;

			i {
				font-size: 16px;
				line-height: 16px;
				font-weight: 300;
				color: white;
			}
		}
	}
	&-warning {
		border-color: $secondary;
		&__status-icon {
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			background-color: $secondary;
			border-radius: 50%;
			flex-shrink: 0;

			i {
				font-size: 16px;
				line-height: 16px;
				font-weight: 300;
				color: white;
			}
		}
	}
}
*/

.toast {
	min-width: 40px;
	width: 502px !important;
	border-radius: 7px;
	-webkit-box-shadow: 0 10px 6px -6px #0000001F;
	-moz-box-shadow: 0 4px 16px 0px #0000001F;
	box-shadow: 0 4px 16px 0px #0000001F;
	z-index: 9999999;


	&__success {
		padding: 19px 20px 19px 16px;
		gap: 16px;
		border-left: 10px solid #5607C5;
		border-radius: 6px;

		i {
			font-size: 32px !important;
		}
	}

	&__warning {
		padding: 19px 20px 19px 16px;
		gap: 16px;
		border-left: 10px solid #5607C5;
		border-radius: 6px;
	}

	&__danger {
		padding: 19px 20px 19px 16px;
		gap: 16px;
		border-left: 10px solid #5607C5;
		border-radius: 6px;
	}

	&__information {
		padding: 19px 20px 19px 16px;
		gap: 16px;
		border-left: 10px solid #5607C5;
		border-radius: 6px;
	}

	.btn-close {
		box-sizing: content-box;
		width: unset;
		height: unset;
		padding: 0;
		font-size: $fs-12;
		font-weight: 700;
		background: none;
		border-radius: .25rem;
		box-shadow: none;



		i {
			color: black;

		}
	}
}