.statusTooltipBtn {
    border: none;
    background: none;
    padding: 0;
    margin-left: 5px;
    color: #007bff;
    cursor: pointer;

}

.tooltip-arrow {}

.tooltip-inner {
    padding: 12px 16px 12px 16px !important;
    background-color: $dark;
    color: $white;
    max-width: 231px !important;
    box-shadow: 0px 0px 30px 0px #27005D14;


    ul {
        list-style: none;
        margin-bottom: 5px;
        padding-left: 0; // Add this line

        li {
            text-align: left;
            display: flex;
            align-items: center;
            gap: 15px;
            color: $white;
            font-weight: 400 !important;
            font-family: "Poppins", sans-serif;

            i {
                color: $blue-4;
            }
        }
    }

}

.bs-tooltip-auto[data-popper-placement^=bottom],
.bs-tooltip-bottom {
    padding: 0;
}

.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before,
.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: $dark !important;
}

.tooltip.show {
    opacity: 1 !important;
}