* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: $font-family !important;
	font-size: $fs-18;
	font-weight: $fw-400;
	color: $dark;
	background: $white;
}

img {
	max-width: 100%;
	display: inline-block;
}

a {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}

	&:link,
	&:visited {
		text-decoration: none;
	}
}

// Disabled global style
.oqtane-disabled {
	opacity: 0.65 !important;
	pointer-events: none;
	cursor: not-allowed;
}

// Placeholder color
::placeholder {
	color: $grey-3;
	opacity: 1;
}

::-ms-input-placeholder {
	color: $grey-3;
}

// Bootstrap Reset

// Oqtane top blank space remove
h2:has(+ .ContainerPane) {
	display: none !important;
}

// Custom scrollbar styling
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: $white;
}

::-webkit-scrollbar-thumb {
	background: $primary-light;
	border-radius: 3px;

	&:hover {
		background: $primary;
	}
}

// Firefox scrollbar styling
* {
	scrollbar-width: thin;
	scrollbar-color: $primary-light $white;
}

hr {
	border: none;
	height: 2px;
	background-color: $border-color;
	/* change color */
	margin: 16px 0;
}

@media all and (max-width: 768px) {
	.dropdown-menu {
		font-size: 12px;
	}

	hr {
		margin: 10px 0 !important;
	}
}