// Font Size Array
$fs-list: (
	"12": $fs-12,
	"13": $fs-13,
	"14": $fs-14,
	"15": $fs-15,
	"18": $fs-18,
	"20": $fs-20,
	"22": $fs-22,
	"24": $fs-24,
	"30": $fs-30,
	"16": $fs-16,
);

// Line Height Array
$lh-list: (
	"100": $lh-100,
	"120": $lh-120,
	"150": $lh-150,
	"160": $lh-160,
	"22": $lh-22,
	"28": $lh-28,
	"32": $lh-32,
	"36": $lh-36,
	"40": $lh-40,
);

$fw-list: (
	"400": $fw-400,
	"500": $fw-500,
	"600": $fw-600,
	"700": $fw-700,
);

$color-list: (
	"grey-1": $grey-1,
	"grey-2": $grey-2,
	"grey-3": $grey-3,
	"grey-1-40": $grey-1-40,
	"grey-1-60": $grey-1-60,
	"gray-dark": $gray-dark,
	"primary": $primary,
	"primary-light": $primary-light,
	"primary-x-light": $primary-x-light,
	"secondary": $secondary,
	"secondary-light": $secondary-light,
	"dark": $dark,
	"white": $white,
	"danger": $danger,
	"black": $black,
	"blue-1": $blue-1,
	"blue-2": $blue-2,
	"blue-3": $blue-3,
	"blue-light": $blue-light,
	"border-color": $border-color,
	"success": $success,
	"danger-light": $danger-light,
	"purple": $purple,
	"cyan-light": $cyan-light,
	"delete": $delete,
	"green-light": $green-light,
	// "$gray-normal": $gray-normal,
	// "$primary-deep": $primary-deep,
	// "$green-lighter": $green-lighter,
	// "$gray-light-2": $gray-light-2,
	// "$gray-lighter": $gray-lighter,
	// "$black-deep": $black-deep,

);

$spacing-list: (
	"auto": auto,
	"0": 0px,
	"px": 1px,
	"2px": 2px,
	"6px": 6px,
	"1x": 4px,
	"2x": 8px,
	"3x": 12px,
	"4x": 16px,
	"5x": 20px,
	"6x": 24px,
	"7x": 28px,
	"8x": 32px,
	"9x": 36px,
	"10x": 40px,
	"80": 80px,
	"100": 100px,
);

// ====	Font Size Classes
@each $prefix, $fs in $fs-list {
	.fs-#{$prefix} {
		font-size: $fs !important;
	}
}

// ==== Line Height Classes
@each $key, $lh in $lh-list {
	.lh-#{$key} {
		line-height: $lh;
	}
}

// ==== Font Weight Classes
@each $key, $fw in $fw-list {
	.fw-#{$key} {
		font-weight: $fw;
	}
}

// ==== Text color classes
@each $key, $color in $color-list {
	.text-#{$key} {
		color: $color !important;
	}
}

// ==== Bg color classes
@each $key, $color in $color-list {
	.bg-#{$key} {
		background-color: $color;
	}
}

// ==== Margin & Padding Classes
@each $key, $margin in $spacing-list {
	.m-#{$key} {
		margin: $margin !important;
	}

	.mt-#{$key} {
		margin-top: $margin !important;
	}

	.mb-#{$key} {
		margin-bottom: $margin !important;
	}

	.ml-#{$key} {
		margin-left: $margin !important;
	}

	.mr-#{$key} {
		margin-right: $margin !important;
	}

	.my-#{$key} {
		margin-block: $margin !important;
	}

	.mx-#{$key} {
		margin-inline: $margin !important;
	}

	.p-#{$key} {
		padding: $margin !important;
	}

	.pt-#{$key} {
		padding-top: $margin !important;
	}

	.pb-#{$key} {
		padding-bottom: $margin !important;
	}

	.pl-#{$key} {
		padding-left: $margin !important;
	}

	.pr-#{$key} {
		padding-right: $margin !important;
	}

	.py-#{$key} {
		padding-block: $margin !important;
	}

	.px-#{$key} {
		padding-inline: $margin !important;
	}
}

// Float Utilities
.float {
	&-none {
		float: none;
	}
}

// Margin Utilitis
.m-0 {
	margin: 0 !important;
}

.mx {
	&-auto {
		margin: 0 auto;
	}
}

.my {
	&-32 {
		margin-top: 32px;
		margin-bottom: 32px;
	}
}

.mb {
	&-0 {
		margin-bottom: 0 !important;
	}

	&-20 {
		margin-bottom: 20px !important;
	}
}

.mt {
	&-0 {
		margin-top: 0 !important;
	}

	&-12 {
		margin-top: 12px !important;
	}

	&-16 {
		margin-top: 16px !important;
	}

	&-20 {
		margin-top: 20px !important;
	}

	&-24 {
		margin-top: 24px !important;
	}

	&-32 {
		margin-top: 32px !important;
	}

	&-40 {
		margin-top: 40px !important;
	}

	&-50 {
		margin-top: 50px !important;
	}
}

// Padding Utilities
.p {
	&-0 {
		padding: 0 !important;
	}

	&-3 {
		padding: 3px !important;
	}

	&-20 {
		padding: 20px !important;
	}
}

.px {
	&-50 {
		padding-left: 50px;
		padding-right: 50px;
	}
}

.ps {
	&-20 {
		padding-left: 20px;
	}

	&-40 {
		padding-left: 40px;
	}

	&-50 {
		padding-left: 50px;
	}
}

.pe {
	&-20 {
		padding-right: 20px;
	}

	&-40 {
		padding-right: 40px;
	}

	&-50 {
		padding-right: 50px;
	}
}

// Display Utilities
.d {
	&-block {
		display: block;
	}

	&-none {
		display: none !important;
	}

	&-inline-block {
		display: inline-block;
	}

	&-flex {
		display: flex;
	}
}

// Flex Utilities
.flex {
	&-wrap {
		flex-wrap: wrap;
	}

	&-nowrap {
		flex-wrap: nowrap;
	}

	&-column {
		flex-direction: column;
	}

	&-row {
		flex-direction: row;
	}

	&-grow-1 {
		flex-grow: 1;
	}
}

// Align Item Utilities
.align-item {
	&-start {
		align-items: start;
	}

	&-center {
		align-items: center;
	}

	&-end {
		align-items: bottom;
	}
}

// Justify Content
.justify-content {
	&-start {
		justify-content: start;
	}

	&-center {
		justify-content: center;
	}

	&-end {
		justify-content: end;
	}

	&-space-between {
		justify-content: space-between;
	}
}

// Gap Utilities
.gap {
	&-10 {
		gap: 10px;
	}

	&-16 {
		gap: 16px;
	}

	&-20 {
		gap: 20px;
	}

	&-30 {
		gap: 30px;
	}
}

// Width Utilities
.w {
	&-1 {
		width: 1px;
	}

	&-20 {
		width: 20px;
	}

	&-30 {
		width: 30px;
	}

	&-100 {
		width: 100%;
	}

	&-200 {
		width: 200px;
	}

	&-300 {
		width: 300px;
	}
}

// Height Utilities
.h {
	&-20 {
		height: 20px;
	}

	&-30 {
		height: 30px;
	}

	&-100 {
		height: 100%;
	}

	&-100vh {
		height: 100vh;
	}
}

//Box Shadow{
.shadow {
	&-none {
		box-shadow: none;
	}
}

// Outline Utilities
.outline {
	&-0 {
		outline: 0;
	}
}

// Border Utilities
.border {
	&-0 {
		border: 0;
	}

	&-left-1 {
		border-left: 1px solid $border-color;
	}
}

// Border Radius Utilities
.rounded {
	&-5 {
		border-radius: 5px;
	}

	&-10 {
		border-radius: 10px;
	}

	&-15 {
		border-radius: 15px;
	}

	&-20 {
		border-radius: 20px;
	}

	&-30 {
		border-radius: 30px;
	}

	&-full {
		border-radius: 100%;
	}
}

// List Item Utilities
ul {
	&.blue-item {
		li::marker {
			color: #275dad;
		}
	}
}

// hr tag
hr {
	&.dashed {
		border-top: 1px dashed $border-color;
	}
}

// Rotate Utilities
.rotate {
	&-0 {
		transform: rotate(0deg);
	}

	&-45 {
		transform: rotate(45deg);
	}

	&-90 {
		transform: rotate(90deg);
	}

	&-180 {
		transform: rotate(180deg);
	}

	&-270 {
		transform: rotate(270deg);
	}

	&-neg-90 {
		transform: rotate(-90deg);
	}

	&-neg-180 {
		transform: rotate(-180deg);
	}
}

// Text Decoration
.text-underline {
	text-decoration: underline;
}

.cursor-pointer {
	cursor: pointer !important;
}

.text-modal-gray {
	color: $modal-text-gray !important;
}