// ==== Colors
$grey-1: #f0f1f5;
$grey-2: #f6f7f9;
$grey-3: #999fb9;

$grey-1-40: rgba($grey-1, 0.4);
$grey-1-60: rgba($grey-1, 0.6);
$gray-dark: #525252;

$primary: #214e9a;
$primary-light: #275dad;
$primary-x-light: #f3f7fc;
$secondary: #ffdc32;
$secondary-light: #fffcdb;
$danger: #e74848;
$danger-light: #ffeae7;
$dark: #444444;
$white: #ffffff;
$black: #000000;
$blue-light: #e7f3ff;
$blue-1: #72b8d1; // Legacy blue-1
$blue-2: #9bd0e3; // Legacy blue-2
$blue-3: #9790d4; // Legacy blue-3
$purple: #f8f2ff;
$cyan-light: #E7F3FF;

$success: #eaffe7;
$border-color: #eeeef0;
$shadow-color: #b5b5b5;

$gray-normal: #e7f3ff;
$primary-deep: #141a33;
$green-lighter: #fffcdb;
$gray-light-2: #ffd4dd;
$gray-lighter: #ffe9e9;
$black-deep: #1f1f1f;
$delete: #ED254E;
$green-light: #65BF73;
// $info: #e7f3ff;
// $warning: #fff4e7;
// $light: #f6f7f9;

// $theme-colors: (
//   "primary": $primary,
//   "secondary": $secondary,
//   "success": $success,
//   "info": $info,
//   "warning": $warning,
//   "danger": $danger,
//   "light": $light,
//   "dark": $dark,
// );

// $theme-color-rgb: map-loop($theme-colors, to-rgb, "$value") !default;

// ==== Font Family
$font-family: "Poppins", sans-serif;

// ==== Width and Height
$sidebar-width: 232px;

// ==== Font Sizes
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-15: 15px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-30: 30px;

// ==== Line Height
$lh-100: 1;
$lh-120: 1.2;
$lh-150: 1.5;
$lh-160: 1.6;
$lh-22: 22px;
$lh-28: 28px;
$lh-32: 32px;
$lh-36: 36px;
$lh-40: 40px;

// ==== Font Weight: 400 600 700
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;